/* Body */
body {
  background-image: url(../public/images/Green\ Background\ Desktop.png);
  height: 100vh;
}

.fontPrimary {
  font-family: 'Barlow Condensed', sans-serif;
  color: #004D00;
}

/* Navigation Bar */
.appLogo {
  height:120px;
  width: auto;
}

.navbar {
  background-color: #004D00;
}

.navCurrencyConverter,
.navExchangeRates {
  font-size: 110%;
  text-decoration: none;
  color: white;
}

.navCurrencyConverter:hover,
.navExchangeRates:hover {
  color: #0d6efd;
}

/* Currency Converter & Exchange Ratess */
.switchButtonMobile {
  transform: rotate(90deg);
}

.currencyConverterRow,
.exchangeRatesRow {
  background-color: white;
}


.currencyConverterRow {
  height: 75vh;
}

@media only screen and (min-width: 0px) {
  .exchangeContainer {
    columns: 2 auto;  
  }
}

@media only screen and (min-width: 780px) {
  .exchangeContainer {
    columns: 3 auto;  
  }
}

/* Footer */
.footerText,
.footerLink,
.portfolioLink,
.linkedinLink,
.githubLink {
  color: #525252;
  text-decoration: none;
}

.footerLink:hover,
.portfolioLink:hover,
.linkedinLink:hover,
.githubLink:hover {
  color: #0d6efd;
}
